<header class="jumbotron">
    <div class="container">
      	<div class="row row-header">
      		<div class="col-xs-12 col-sm-4">
        		<h1>Issues</h1>
      		</div>
			<div class="col-xs-12 col-sm-8">
				<div class="input-group">
					<span class="input-group-addon" id="repoPrefix">https://github.com/</span>
					<input type="text" class="form-control" id="repository" aria-describedby="repoPrefix"
						ng-model="repoName" ng-required="validateRepoName()" placeholder="owner/repository">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" id="getStats" ng-disabled="urlNotValidated"
						ng-click="refreshCount()">Go</button>
					</span>
      			</div>
      		</div>
    	</div>
  	</div>
</header>
